.*.swp
.build

META.yml
META.json
MYMETA.yml
MYMETA.json
blib/
Build
!inc/Module/Build
_build/
pm_to_blib
dist.ini
MANIFEST
PDL-Opt-QP-*
MANIFEST.bak
exp/
tmp/
Changes.bak
t/data
nytprof*

*.o
f77_underscore
Makefile
Makefile.old
QP.bs
QP.c
QP.pm
QP.xs

# podweaver backups
*.pm.bak

