.*.swp
.build

META.yml
META.json
MYMETA.yml
MYMETA.json
blib/
Build
_build/
pm_to_blib
dist.ini
MANIFEST
PDL-Opt-QP-*
MANIFEST.bak
exp/
tmp/
Changes.bak
t/data
nytprof*
*.o
f77_underscore
Makefile
Makefile.org

# podweaver backups
*.pm.bak
